.recipe(data-recipe-id=recipe._id.toString())
   .photo(style='background-image:url(#{recipe.photo});')
     button.gray.delete x
   .name= recipe.name
   .category= recipe.category
   .ingredients
     ul
      each ingredient in recipe.ingredients
        li: a(href= '#')= ingredient
   .directions
     ol
      each direction in recipe.directions
        li= direction
